<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}Intel Chat{{/link-to}}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "chat"}}Chat{{/link-to}}</li>
      </ul>
    </div>
    </div>
  </nav>
</header>
<div class="content-wrapper">
  <div class="container-fluid">
    {{outlet}}
  </div>
</div>
