<div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav">
    {{#each route in routes}}
      <li>{{#link-to route.route}}{{route.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
